.book-list {
  list-style: none;
  padding: 0;

  & article.book + article.book {
    margin-top: var(--row-gap-medium);
  }
  & li.book + li.book {
    margin-top: var(--row-gap-small);
  }

  & .book-header {
    margin-bottom: var(--row-gap-xsmall);
  }

  & .book-details {
    font: var(--font-small);
  }

  & .book-title {
    font: var(--font-title);
    letter-spacing: var(--font-title-spacing);
    display: block;

    & a {
      text-decoration: none;
    }
  }
}
