.book-header {
  margin-bottom: var(--row-gap-small);
}

.book-title {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0 0 0.2em;
  text-wrap: balance;
  color: var(--color-base);
}

.book-details {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1em;
  column-gap: 0.5em;
  align-items: center;
  font: var(--font-small);
  color: var(--color-dim);

  & p {
    margin: 0;
  }

  & p:not(:last-child)::after {
    content: "•";
    padding-left: 0.5em;
    align-self: stretch;
  }

  & p:last-of-type {
    margin-right: 0.5em;
  }

  & a {
    color: inherit;
  }
}

.book-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  align-items: center;
}

.book-link {
  display: inline-block;
}
